<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GHUnitIOSTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Integation Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LikeApp copy 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LikeApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AD7BAC0175C58A70088E99A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD7BAE0175C58A80088E99A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B15B2C1178409EA00E712E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B15B71717844C9F00E712E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96C2001779327100349B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96C2151779480600349B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96C2361779480700349B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96C26217794DB600349B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96C2781779514300349B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96C28E1779531900349B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96C2B5177983BF00349B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96C2CB177986B400349B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
